name: Deploy Firbase API
on: 
    pull_request:
        types: [opened, synchronize, reopened]
    pull_request_review:
      types: [submitted]

permissions:
  contents: read
  checks: write
  pull-requests: write
            

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v2

        - name: Use Node.js
          uses: actions/setup-node@v2
          with:
                node-version: '14'

        - name: Install Dependencies 
          run: npm ci
        
        - name: Extract PR Number
          id: pr
          run: echo "::set-output name=number::${{ github.event.pull_request.number }}"
      
        - name: Extract JIRA Issue ID
          id: jira_issue_id
          run: |
            FULL_STRING="${{ github.event.pull_request.head.ref }}"
            JIRAISSUEID=$(echo $FULL_STRING | cut -d'-' -f1,2)
            echo "JIRAISSUEID=$JIRAISSUEID" >> $GITHUB_ENV
        
            
        - name: Check if PR is ready
          id: check_ready
          run: |
            if [[ "${{ github.event.review.state }}" == "approved" ]]; then
                echo "::set-output name=ready::$PR_READY"
            else
                echo "Pull request is not ready to be merged."
            fi
          
    
        - name: Deploy to Expo
          if: steps.check_ready.outputs.ready == 'ready'
          run: npx eas channel:create ${{ env.JIRAISSUEID }}
          env:
            EXPO_CLI_USERNAME: ${{ secrets.EXPO_CLI_USERNAME }}
            EXPO_CLI_PASSWORD: ${{ secrets.EXPO_CLI_PASSWORD }}
                
      
        - name: Check if PR is ready
          if: steps.check_ready.outputs.ready == 'ready'
          run: |
            echo "Pull request is ready to be merged => Transitioning JIRA issue ${{ env.JIRAISSUEID }} to Testing."
            # Transition the JIRA issue.
            TRANSITION_ID=$(curl -X GET -H "Content-Type: application/json" \
                -u ${{ secrets.JIRA_USER_EMAIL }}:${{ secrets.JIRA_API_TOKEN }} \
                https://codingcloud-online.atlassian.net/rest/api/3/issue/${{ env.JIRAISSUEID }}/transitions | jq -r '.transitions[] | select(.name=="Functional Testing") | .id')
            echo "Transition ID: $TRANSITION_ID"
            curl -X POST -H "Content-Type: application/json" \
                -d '{"transition":{"id":"'$TRANSITION_ID'"}}' \
                -u ${{ secrets.JIRA_USER_EMAIL }}:${{ secrets.JIRA_API_TOKEN }} \
                https://codingcloud-online.atlassian.net/rest/api/3/issue/${{ env.JIRAISSUEID }}/transitions

        - name: PR is not ready
          if: steps.check_ready.outputs.ready != 'ready'
          run: echo "PR is not ready for deployment and JIRA issue will not be transitioned."
                exit 1